@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cairo&family=Teko:wght@400;700&display=swap');

* {
  font-family: 'Bebas Neue', cursive;
}

.App {
  text-align: center;
}

.Saludo {
  text-align: start;
  margin: 0 10px;
}

.Cart{
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  color: antiquewhite;
}

.Cart img {
  margin: 0 10px 4px 0;
}
